.bg-dark {
  background-image: linear-gradient(#000000, #1a0f37);
  color: white;
}

.me-auto {
  background-color: black;
  background-image: black;
  height: 100%;
  z-index: 1;
}

.bg-dark h1 {
  color: white;
}

.nav a {
  color: white;
}

.bg-dark a {
  color: white;
}

h1 {
  color: white;
}

body {
  color: white;
}

.welcome {
  color: #ffffff;
  padding: 50px;
  font-size: 3rem;
  font-style: bold;
}

#navbarContainer ul {
  z-index: 10;
  position: absolute;
  margin: 0;
  top: 0px;
  list-style-type: none;
  padding-right: 30px;
}

#navbarContainer li {
  text-decoration: none;
  color: white;
  padding: 30px;
}

#navbarContainer li a {
  color: #ffffff;
  font-style: bold;
}

.bg-dark li a {
  text-decoration: none;
  color: #ffffff;
  text-decoration: bold;
}
