.cassette {
  position: relative;

  /* height/width must match svg height/width*/
  height: 350px;
  width: 500px;

  margin-bottom: 2vh;
}

.cassette svg,
.cassette img {
  position: absolute;
  top: 0% !important;
  left: 0% !important;
}
