.Workspace {
  position: absolute;
  top: 10px;
  left: 310px;

  box-sizing: border-box;
  border: 1px solid black;
  border-left-width: 0px;
  background-color: white;

  width: 800px;
  height: 700px;

  display: flex;
  justify-content: center;
}

#workspace-svg {
  z-index: 1;
}

#workspace-canvas,
#workspace-svg,
#cassette img {
  position: absolute;
  top: 0px;
  left: 0px;
}

#cassette {
  display: flex;
}
