.Workspace {
  position: relative;

  box-sizing: border-box;
  border: 1px solid black;
  border-left-width: 0px;
  background-color: white;

  width: 575px;
  height: 450px;

  display: flex;
  justify-content: center;
}

#workspace-svg {
  z-index: 1;
}



#workspace-canvas,
.Workspace #workspace-svg,
.Workspace #cassette img {
  top: 10%;
  left: 8%;
}

#workspace-svg,
#cassette img {
  position: absolute;
}

#cassette {
  display: flex;
}
